Repository openstack/ceilometer: changes, and which Zuul jobs are due for each by the changed paths.
All: telemetry-tox-py37, grenade-dsvm-ceilometer

telemetry-tox-py37:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: py37
    bindep_profile: test py37
  nodeset: fedora-latest

grenade-dsvm-ceilometer:
  parent: legacy-dsvm-base
  run: playbooks/legacy/grenade-dsvm-ceilometer/run.yaml
  post-run: playbooks/legacy/grenade-dsvm-ceilometer/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/ceilometer

Imported Translations from Zanata
  ceilometer/locale/en_GB/LC_MESSAGES/ceilometer.po
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Add loadbalancer resource type.
  ceilometer/gnocchi_client.py
  ceilometer/publisher/data/gnocchi_resources.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

[ussuri][goal] Drop python 2.7 support and testing
  .zuul.yaml
  doc/requirements.txt
  releasenotes/notes/drop-py-2-7-87352d5763131c13.yaml
  requirements.txt
  setup.cfg
  tox.ini
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Dynamic pollsters: enable operation on attributes
  ceilometer/polling/dynamic_pollster.py
  ceilometer/tests/unit/polling/test_dynamic_pollster.py
  doc/source/admin/telemetry-dynamic-pollster.rst
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Include project_id in Prometheus publisher
  ceilometer/publisher/prometheus.py
  ceilometer/tests/unit/publisher/test_prometheus.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Fix name of option group removed in Rocky
  releasenotes/notes/remove-gnocchi-dispatcher-options-4f4ba2a155c1a766.yaml
Due: grenade-dsvm-ceilometer

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: grenade-dsvm-ceilometer

Fix mismatch print format in log message
  ceilometer/polling/dynamic_pollster.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Set instance_type_id in event traits to be a string.
  ceilometer/pipeline/data/event_definitions.yaml
  ceilometer/tests/unit/publisher/test_gnocchi.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Add availability_zone attribute to gnocchi instance resources.
  ceilometer/gnocchi_client.py
  ceilometer/pipeline/data/event_definitions.yaml
  ceilometer/publisher/data/gnocchi_resources.yaml
  ceilometer/publisher/gnocchi.py
  ceilometer/tests/unit/publisher/test_gnocchi.py
  releasenotes/notes/add-availability_zone-gnocchi-instance-15170e4966a89d63.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Remove mention of meter_dispatchers
  doc/source/install/verify.rst
Due: grenade-dsvm-ceilometer

Update links to Gnocchi website
  doc/source/admin/telemetry-data-pipelines.rst
  doc/source/admin/telemetry-system-architecture.rst
  doc/source/contributor/architecture.rst
  doc/source/install/get_started.rst
  doc/source/install/install-base-obs.rst
  doc/source/install/install-base-rdo.rst
  doc/source/install/install-base-ubuntu.rst
Due: grenade-dsvm-ceilometer

Add note for loadbalancer resource type support
  releasenotes/notes/add-loadbalancer-resource-type-a73c29594b72f012.yaml
Due: grenade-dsvm-ceilometer

Fix logging libvirt error on python 3
  ceilometer/compute/discovery.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Tell reno to ignore the kilo branch
  reno.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

[stable-only] Cap msgpack
  requirements.txt
Due: telemetry-tox-py37

Multi metric dynamic pollsters (handling attribute values with list of objects)
  ceilometer/declarative.py
  ceilometer/polling/dynamic_pollster.py
  ceilometer/polling/manager.py
  ceilometer/polling/non_openstack_dynamic_pollster.py
  ceilometer/tests/unit/polling/test_dynamic_pollster.py
  ceilometer/tests/unit/polling/test_manager.py
  ceilometer/tests/unit/polling/test_non_openstack_dynamic_pollster.py
  doc/source/admin/telemetry-dynamic-pollster.rst
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Run Grenade job under Python 2 for compatibility
  .zuul.yaml
  playbooks/legacy/grenade-dsvm-ceilometer/run.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Add support to linked samples responses
  ceilometer/polling/dynamic_pollster.py
  ceilometer/tests/unit/polling/test_dynamic_pollster.py
  ceilometer/tests/unit/polling/test_non_openstack_credentials_discovery.py
  doc/source/admin/telemetry-dynamic-pollster.rst
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Update hacking for Python3
  ceilometer/compute/discovery.py
  ceilometer/compute/pollsters/__init__.py
  ceilometer/hacking/checks.py
  ceilometer/ipmi/notifications/ironic.py
  ceilometer/network/statistics/opendaylight/driver.py
  ceilometer/objectstore/rgw.py
  ceilometer/polling/dynamic_pollster.py
  ceilometer/polling/manager.py
  ceilometer/publisher/http.py
  ceilometer/publisher/monasca.py
  ceilometer/tests/unit/network/test_floating_ip.py
  ceilometer/tests/unit/polling/test_dynamic_pollster.py
  tox.ini
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Temporary failures should be treated as temporary.
  ceilometer/compute/pollsters/__init__.py
  ceilometer/tests/unit/compute/pollsters/test_memory.py
  ceilometer/tests/unit/compute/pollsters/test_perf.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

[stable-only] Cap stestr for python 2
  test-requirements.txt
Due: telemetry-tox-py37

Fix docs build error
  doc/source/contributor/architecture.rst
  doc/source/contributor/overview.rst
Due: grenade-dsvm-ceilometer

Cleanup py27 support
  doc/requirements.txt
  requirements.txt
  setup.cfg
  setup.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Path conditions:
  telemetry-tox-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  grenade-dsvm-ceilometer: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
