Repository openstack/ceilometer: changes, and which Zuul jobs are due for each by the changed paths.
All: telemetry-tox-py37, grenade-dsvm-ceilometer

.zuul.yaml:

- job:
    name: grenade-dsvm-ceilometer
    parent: legacy-dsvm-base
    run: playbooks/legacy/grenade-dsvm-ceilometer/run.yaml
    post-run: playbooks/legacy/grenade-dsvm-ceilometer/post.yaml
    timeout: 10800
    required-projects:
      - openstack-dev/grenade
      - openstack-infra/devstack-gate
      - openstack/ceilometer

- job:
    name: telemetry-tox-py37
    parent: openstack-tox
    timeout: 2400
    irrelevant-files:
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: py37
      bindep_profile: test py37
    nodeset: fedora-latest

- project:
    templates:
      - openstack-python-jobs
      - openstack-python35-jobs
      - publish-openstack-sphinx-docs
      - periodic-stable-jobs
      - release-notes-jobs
    check:
      jobs:
        - telemetry-tox-py37
        - openstack-tox-cover
        - grenade-dsvm-ceilometer:
            irrelevant-files:
              - ^(test-|)requirements.txt$
              - ^setup.cfg$
        - telemetry-dsvm-integration
    gate:
      queue: telemetry
      jobs:
        - telemetry-tox-py37
        - grenade-dsvm-ceilometer:
            irrelevant-files:
              - ^(test-|)requirements.txt$
              - ^setup.cfg$
        - telemetry-dsvm-integration
    experimental:
      jobs:
        # TripleO jobs that deploy Telemetry.
        # Note we don't use a project-template here, so it's easier
        # to disable voting on one specific job if things go wrong.
        # tripleo-ci-centos-7-scenario00(1|2)-multinode-oooq will only
        # run on stable/pike while the -container will run in Queens
        # and beyond.
        # If you need any support to debug these jobs in case of
        # failures, please reach us on #tripleo IRC channel.
        # NOTE(sileht): These job takes 3 hours and fail most of the times.
        # While other jobs take 20-30 minutes
        # We can reenable it when they take less times.
        - tripleo-ci-centos-7-scenario001-multinode-oooq
        - tripleo-ci-centos-7-scenario001-multinode-oooq-container
        - tripleo-ci-centos-7-scenario002-multinode-oooq
        - tripleo-ci-centos-7-scenario002-multinode-oooq-container

Cap sphinx for py2 to match global requirements
  doc/requirements.txt
Due: grenade-dsvm-ceilometer

Add framework for ceilometer-status upgrade check
  ceilometer/cmd/status.py
  ceilometer/tests/unit/cmd/__init__.py
  ceilometer/tests/unit/cmd/test_status.py
  doc/source/cli/ceilometer-status.rst
  doc/source/cli/index.rst
  doc/source/index.rst
  releasenotes/notes/add-upgrade-check-framework-d78858c54cb85f91.yaml
  requirements.txt
  setup.cfg
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Cleanup option meter_definitions_cfg_file
  releasenotes/notes/remove-meter-definitions-cfg-file-config-476596fc86c36a81.yaml
Due: grenade-dsvm-ceilometer

Windows: avoid passing conf objects to subprocesses
  ceilometer/cmd/polling.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Unit field missing in snmp data
  ceilometer/hardware/pollsters/data/snmp.yaml
  ceilometer/tests/unit/hardware/pollsters/test_generic.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Get output for processutils.execute impi command
  ceilometer/privsep/ipmitool.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Fixing broken links
  doc/source/admin/telemetry-best-practices.rst
  doc/source/admin/telemetry-system-architecture.rst
Due: grenade-dsvm-ceilometer

Only install monotonic on python2
  ceilometer/compute/pollsters/__init__.py
  requirements.txt
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Run 'telemetry-dsvm-integration-ipv6-only' job in gate
  .zuul.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

[ocata only] Fix alembic requirement
  requirements.txt
Due: telemetry-tox-py37

Type field missing in snmp data harware.cpu meters
  ceilometer/hardware/pollsters/data/snmp.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Set proper trait type
  ceilometer/pipeline/data/event_definitions.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

PDF documentation build
  doc/source/conf.py
  doc/source/contributor/architecture.rst
  doc/source/contributor/events.rst
  doc/source/contributor/new_resource_types.rst
  doc/source/contributor/overview.rst
  doc/source/index.rst
  tox.ini
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Update .gitreview for stable/train
  .gitreview
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Update TOX/UPPER_CONSTRAINTS_FILE for stable/train
  tox.ini
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Update master for stable/train
  releasenotes/source/index.rst
  releasenotes/source/train.rst
Due: grenade-dsvm-ceilometer

Imported Translations from Zanata
  ceilometer/locale/de/LC_MESSAGES/ceilometer.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Fix samples with dots in sample name
  ceilometer/publisher/prometheus.py
  ceilometer/tests/unit/publisher/test_prometheus.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Imported Translations from Zanata
  ceilometer/locale/de/LC_MESSAGES/ceilometer.po
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

publisher: Contribute the Monasca publisher
  ceilometer/keystone_client.py
  ceilometer/monasca_client.py
  ceilometer/monasca_opts.py
  ceilometer/opts.py
  ceilometer/publisher/monasca.py
  ceilometer/publisher/monasca_data_filter.py
  ceilometer/tests/unit/publisher/test_monasca_data_filter.py
  ceilometer/tests/unit/publisher/test_monasca_publisher.py
  ceilometer/tests/unit/test_monascaclient.py
  doc/source/admin/telemetry-data-pipelines.rst
  doc/source/contributor/architecture.rst
  etc/ceilometer/examples/monasca-publisher/example_ceilometer.conf
  etc/ceilometer/examples/monasca-publisher/example_pipeline.yaml
  etc/ceilometer/examples/monasca-publisher/monasca_field_definitions.yaml
  lower-constraints.txt
  releasenotes/notes/include-monasca-publisher-1f47dde52af50feb.yaml
  requirements.txt
  setup.cfg
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Create dynamic pollster feature
  .gitignore
  ceilometer/cmd/polling.py
  ceilometer/declarative.py
  ceilometer/opts.py
  ceilometer/polling/dynamic_pollster.py
  ceilometer/polling/manager.py
  ceilometer/tests/unit/polling/test_dynamic_pollster.py
  doc/source/admin/index.rst
  doc/source/admin/telemetry-data-collection.rst
  doc/source/admin/telemetry-dynamic-pollster.rst
  releasenotes/notes/dynamic-pollster-system-6b45c8c973201b2b.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Dynamic pollsters to handle different response structures
  ceilometer/polling/dynamic_pollster.py
  ceilometer/tests/unit/polling/test_dynamic_pollster.py
  doc/source/admin/telemetry-dynamic-pollster.rst
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Dynamic pollsters to support nested dictionary values
  ceilometer/polling/dynamic_pollster.py
  ceilometer/tests/unit/polling/test_dynamic_pollster.py
  doc/source/admin/telemetry-dynamic-pollster.rst
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

support events
  ceilometer/event/converter.py
  ceilometer/pipeline/base.py
  ceilometer/pipeline/data/event_pipeline.yaml
  doc/source/admin/telemetry-events.rst
  doc/source/contributor/events.rst
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Trivial-change: Fix rst syntax
  doc/source/admin/telemetry-data-pipelines.rst
Due: grenade-dsvm-ceilometer

Add Monasca to supported measurement back ends
  doc/source/admin/telemetry-system-architecture.rst
Due: grenade-dsvm-ceilometer

Add loadbalancer resource type.
  ceilometer/gnocchi_client.py
  ceilometer/publisher/data/gnocchi_resources.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Add missing ws seperator between words
  ceilometer/monasca_opts.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Fix instantiation of manager.AgentManager on cmd.polling.create_polling_service
  ceilometer/cmd/polling.py
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Imported Translations from Zanata
  ceilometer/locale/en_GB/LC_MESSAGES/ceilometer.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Dynamic pollster system to support non-OpenStack APIs
  ceilometer/declarative.py
  ceilometer/polling/discovery/non_openstack_credentials_discovery.py
  ceilometer/polling/dynamic_pollster.py
  ceilometer/polling/manager.py
  ceilometer/polling/non_openstack_dynamic_pollster.py
  ceilometer/publisher/gnocchi.py
  ceilometer/tests/unit/polling/test_dynamic_pollster.py
  ceilometer/tests/unit/polling/test_manager.py
  ceilometer/tests/unit/polling/test_non_openstack_credentials_discovery.py
  ceilometer/tests/unit/polling/test_non_openstack_dynamic_pollster.py
  ceilometer/tests/unit/publisher/test_gnocchi.py
  doc/source/admin/telemetry-dynamic-pollster.rst
  releasenotes/notes/dynamic-pollster-system-for-non-openstack-apis-4e06694f223f34f3.yaml
  setup.cfg
Due: telemetry-tox-py37, grenade-dsvm-ceilometer

Make grenade-dsvm-ceilometer run under python3
  playbooks/legacy/grenade-dsvm-ceilometer/run.yaml
Due: telemetry-tox-py37, grenade-dsvm-ceilometer
